<div class="img-wrapper">
  <div class="img-wrapper">
    <img srcset= "./assets/img/about-sm.jpg 600w,
                  ./assets/img/about-lg.jpg 1200w"
      src="./assets/img/about-lg.jpg" alt="About Us Banner"
      class ="header-img">
  </div>
</div>

<div class="link-wrapper">
  <a href="./assets/constitution.pdf" target="_blank" class="const-link">Club Constitution</a>
</div>

<div class="text-wrapper">
  <p class="about-text mission-text">
    <span class="bold-text">Mission Statement: </span>To foster a culture of teamwork within Northern Illinois University, and to encourage members to seek out opportunities, inside and outside their
    department, to expand their knowledge. Specifically, students will be able to develop
    and fine-tune their software development, teamwork, and leadership skills by working
    on numerous projects with fellow students.
  </p>

    <h3 class="about-header">
      The Executives of CODE++ shall consist of:
    </h3>
    <ol class="about-list">
      <li class="about-li">President</li>
      <li class="about-li">Vice President</li>
      <li class="about-li">Executive Coordinator</li>
      <li class="about-li">Treasurer</li>
      <li class="about-li">Advisor</li>
      <li class="about-li">Project Supervisor</li>
    </ol>

    <h3 class="about-header">
      The General Officers of CODE++ shall consist of (*multiple allowed):
    </h3>

    <ol class="about-list">
      <li class="about-li">Outreach Administrator*</li>
      <li class="about-li">Student Association Ambassador*</li>
      <li class="about-li">Marketing Manager*</li>
      <li class="about-li">Academic Coordinator*</li>
    </ol>

    <h3 class="about-header">NON-DISCRIMINATION CLAUSE</h3>
    <p class="about-text">
      Every organization shall guarantee to all students the right to enjoy fair, impartial, and
      equal treatment including but not limited to- full membership and full participation in the
      organization- and shall not discriminate unlawfully on the basis of sex, race, national
      origin, ancestry, marital status, age, color, political views or affiliation, religious views or
      affiliation, sexual orientation, gender identity, or disability status.
    </p>
</div>
