<h1 class="main-header">Computer Science Resources</h1>
<ul class="class-list">

  <li class="class-li card">
    <h2 class="class-header">General Resources</h2>
    <ul class="resource-list">
      <li class="resource-li">
        <a href="http://www.cs.niu.edu/undergraduate/emphasis.shtml" target="_blank" class="resource-link">
          NIU Computer Science Emphases
        </a>
      </li>
      <li class="resource-li">
        <a href="http://www.worldtimzone.com/res/vi.html" target="_blank" class="resource-link">Vi/Vim Cheatsheet</a>
      </li>
      <li class="resource-li">
        <a href="https://unicode-table.com/en/" target="_blank" class="resource-link">Unicode Character Table</a>
      </li>
      <li class="resource-li">
        <a href="http://getemoji.com/" target="_blank" class="resource-link">Emoji Table</a>
      </li>
      <li class="resource-li">
        <a href="https://techdevguide.withgoogle.com/" target="_blank" class="resource-link">Google Tech Dev Guide</a>
      </li>
      <li class="resource-li">
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="resource-link">Markdown Cheatsheet</a>
      </li>
      <li class="resource-li">
        <a href="https://color.adobe.com/create/color-wheel/" target="_blank" class="resource-link">Adobe Color Wheel</a>
      </li>
      <li class="resource-li">
        <a href="https://www.rapidtables.com/math/symbols/Basic_Math_Symbols.html" target="_blank" class="resource-link">Mathematical Symbols</a>
      </li>
      <li class="resource-li">
        <a href="https://www.lynda.com/" target="_blank" class="resource-link">Lynda - Video Courses</a>
        <p>(Free for NIU students)</p>
      </li>
    </ul>
  </li>

  <li class="class-li card">
    <h2 class="class-header">Web Development</h2>
    <ul class="resource-list">
      <li class="resource-li">
        <a href="https://www.w3.org/TR/html5/" target="_blank" class="resource-link">HTML5 Official Standards</a>
      </li>
      <li class="resource-li">
        <a href="https://css-tricks.com/almanac/" target="_blank" class="resource-link">CSS Almanac</a>
      </li>
      <li class="resource-li">
        <a href="https://developers.google.com/web/fundamentals/" target="_blank" class="resource-link">
          Google's Web Fundamentals
        </a>
      </li>
      <li class="resource-li">
        <a href="https://developer.mozilla.org/en-US/" target="_blank" class="resource-link">
          Mozilla Developer Network
        </a>
      </li>
      <li class="resource-li">
        <a href="https://www.cssfontstack.com/" target="_blank" class="resource-link">Web Safe Font Stacks</a>
      </li>
      <li class="resource-li">
        <a href="https://fonts.google.com/" target="_blank" class="resource-link">Google Fonts</a>
      </li>
      <li class="resource-li">
        <a href="https://www.w3schools.com/cssref/css_default_values.asp" target="_blank" class="resource-link">
          Default CSS Values for HTML Elements
        </a>
      </li>
      <li class="resource-li">
        <a href="https://hpbn.co/" target="_blank" class="resource-link">High Performance Browser Networking</a>
      </li>
      <li class="resource-li">
        <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank" class="resource-link">
          Web Content Accessibility Guidelines
        </a>
      </li>
      <li class="resource-li">
        <a href="https://angular.io/" target="_blank" class="resource-link">Angular Docs</a>
      </li>
      <li class="resource-li">
        <a href="https://reactjs.org/" target="_blank" class="resource-link">React Docs</a>
      </li>
      <li class="resource-li">
        <a href="http://api.jquery.com/" target="_blank" class="resource-link">jQuery Docs</a>
      </li>
      <li class="resource-li">
        <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank" class="resource-link">Bootstrap Docs</a>
      </li>
    </ul>
  </li>

  <li class="class-li card">
    <h2 class="class-header">CSCI 340</h2>
    <h3 class="class-header">Data Structures and Algorithms</h3>
    <ul class="resource-list">
      <li class="resource-li">
        <a href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/" target="_blank" class="resource-link">
          Geeks for Geeks
        </a>
      </li>
      <li class="resource-li">
        <a href="http://bigocheatsheet.com/" target="_blank" class="resource-link">Big-O Cheatsheet</a>
      </li>
      <li class="resource-li">
        <a href="https://mcdtu.files.wordpress.com/2017/03/introduction-to-algorithms-3rd-edition-sep-2010.pdf" target="_blank" class="resource-link">Introduction to Algorithms</a>
      </li>
    </ul>
  </li>

  <li class="class-li card">
    <h2 class="class-header">CSCI 463</h2>
    <h3 class="class-header">Computer Architecture and Organization</h3>
    <ul class="resource-list">
      <li class="resource-li">
        <a href="https://faculty.cs.niu.edu/~berezin/" target="_blank" class="resource-link">Course Website</a>
      </li>
      <li class="resource-li">
        <a class="resource-link" routerLink="/resources/c463/circuits" routerLinkActive="active">Circuit IDs</a>
      </li>
    </ul>
  </li>

</ul>
