<footer class="main-footer">
  <div class="row">
    <div class="col-sm-4">
      <h2 class="footer-header">Code++</h2>
      <h3 class="footer-header">1425 W. Lincoln Hwy.</h3>
      <h3 class="footer-header">DeKalb, IL 60115-2828</h3>
    </div>
    <div class="col-sm-4">
      <a target="_blank" href="https://www.niu.edu/index.shtml">
        <img class="footer-logo" src="./assets/img/niu-logo-name.png" alt="NIU Logo">
      </a>
    </div>
    <div class="col-sm-4">
      <h2 class="footer-header">Contact Us</h2>
      <h3 class="footer-header">
        <i class="fa fa-address-book"></i>
        ap95@ieee.org
      </h3>
      <h3 class="footer-header">
        <a href="tel:+18157868002" class="phone-link">
          <i class="fa fa-phone"></i>
          (815) 753-1000
        </a>
      </h3>
    </div>
  </div>
</footer>
