<div class="hero-wrapper">
  <div class="hero"></div> <!-- Main logo at top -->
</div>

<ul class="feature-list">
  <div class="row links-row">
    <div class="col-xs-12 col-lg-6">
      <li>
        <a routerLink="/roster" routerLinkActive="active" class="feature-link">
          <img class="feature-img" src="./assets/img/meeting-sm.jpg" alt="Students working on a project">
          <h2 class="feature-header">Club Roster</h2>
        </a>
      </li>
    </div>
    <!-- <div class="col-xs-12 col-lg-6">
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="feature-link">
          <img class="feature-img" src="./assets/img/projects-sm.jpg" alt="A magic digital mirror">
          <h2 class="feature-header">Projects</h2>
        </a>
      </li>
    </div> -->
    <div class="col-xs-12 col-lg-6">
      <li>
        <a routerLink="/resources" routerLinkActive="active" class="feature-link">
          <img class="feature-img" src="./assets/img/resources-sm.jpg" alt="Lines of assembler code">
          <h2 class="feature-header">Coding Resources</h2>
        </a>
      </li>
    </div>
  </div> <!-- inner row -->

  <div class="row links-row">
    <!-- <div class="col-xs-12 col-lg-6">
      <li>
        <a routerLink="/tutors" routerLinkActive="active" class="feature-link">
          <img class="feature-img" src="./assets/img/tutor-sm.jpg" alt="">
          <h2 class="feature-header">Tutoring</h2>
        </a>
      </li>
    </div> -->
    <div class="col-xs-12 col-lg-6">
      <li>
        <a routerLink="/events" routerLinkActive="active" class="feature-link">
          <img class="feature-img" src="./assets/img/events-sm.jpg" alt="">
          <h2 class="feature-header">Events</h2>
        </a>
      </li>
    </div>
    <div class="col-xs-12 col-lg-6">
      <li>
        <a routerLink="/about" routerLinkActive="active" class="feature-link">
          <img class="feature-img" src="./assets/img/about-sm.jpg" alt="Celebrating at Stem Fest">
          <h2 class="feature-header">About Us</h2>
        </a>
      </li>
    </div>
  </div> <!-- inner row -->
</ul>
