.hero {
  background: url("../../../assets/img/code-logo.jpg") no-repeat bottom center;
  color: #fff;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: 720px;
  padding-top: 200px;
  margin-top: -160px;
}

.hero-wrapper {
  width: 100%;
  margin-top: 100px;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
    margin-top: -140px;
  }
}

@media screen and (max-width: 372px) {
  .hero {
    height: 360px;
    margin-top: -140px;
  }
}

.feature-list {
  margin-top: 24px;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.feature-link {
  margin-top: 32px;
  font-size: 16px;
  color: #000;
}

.feature-link:hover {
  text-decoration: none;
}

.feature-header {
  margin-top:10px;
  font-size: 16px;
}

.feature-img {
  margin-top: 36px;
  width: 280px;
}

@media screen and (min-width: 1100px) {
  .links-row {
    width: 82%;
    margin: 0 auto;
  }
}
