<div class="hero">
  <h1 class="hero-header">{{title}}</h1>
  <h2 style="text-align: center">Based out of Northern Illinois University</h2>
  <!-- <img width="300" alt="Club Logo" src="./assets/img/code-logo.jpg"> -->
</div>
<ul style="text-align: center; list-style-type: none; padding-left: 0;">
  <li>
    <h2><a routerLink="/roster" routerLinkActive="active">Club Roster</a></h2>
  </li>
  <li>
    <h2><a routerLink="/projects" routerLinkActive="active">Projects</a></h2>
  </li>
  <li>
    <h2><a routerLink="/events" routerLinkActive="active">Events</a></h2>
  </li>
  <li>
    <h2><a routerLink="/tutors" routerLinkActive="active">Tutoring</a></h2>
  </li>
  <li>
    <h2><a routerLink="/resources" routerLinkActive="active">Coding Resources</a></h2>
  </li>
  <li>
    <h2><a routerLink="/about" routerLinkActive="active">About Us</a></h2>
  </li>
</ul>
