<div class="hero">
  <div class="hero-headers">
    <h1 class="welcome-header"><span class="dark-highlight">{{title}}</span></h1>
    <h2 class="welcome-subheader"><span class="dark-highlight">A club based out of Northern Illinois University</span></h2>
    <h2 class="welcome-subheader"><span class="dark-highlight">Officially supported by the IEEE</span></h2>
  </div>
  <!-- <img width="300" alt="Club Logo" src="./assets/img/code-logo.jpg"> -->
</div>
<ul class="feature-list">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <li>
            <a routerLink="/roster" routerLinkActive="active" class="feature-link">
              <img class="feature-img" src="./assets/img/stock/stock-sun.jpg" alt="">
              <h2 class="feature-header">Club Roster</h2>
            </a>
          </li>
        </div>
        <div class="col-xs-12 col-sm-4">
          <li>
            <a routerLink="/projects" routerLinkActive="active" class="feature-link">
              <img class="feature-img" src="./assets/img/stock/stock-bird.jpg" alt="">
              <h2 class="feature-header">Projects</h2>
            </a>
          </li>
        </div>
        <div class="col-xs-12 col-sm-4">
          <li>
            <a routerLink="/events" routerLinkActive="active" class="feature-link">
              <img class="feature-img" src="./assets/img/stock/stock-corn.jpg" alt="">
              <h2 class="feature-header">Events</h2>
            </a>
          </li>
        </div>
      </div> <!-- inner row -->
    </div> <!-- outer col-sm-6 left-side -->
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <li>
            <a routerLink="/tutors" routerLinkActive="active" class="feature-link">
              <img class="feature-img" src="./assets/img/stock/stock-sparrow.jpg" alt="">
              <h2 class="feature-header">Tutoring</h2>
            </a>
          </li>
        </div>
        <div class="col-xs-12 col-sm-4">
          <li>
            <a routerLink="/resources" routerLinkActive="active" class="feature-link">
              <img class="feature-img" src="./assets/img/stock/stock-cobblestone.jpg" alt="">
              <h2 class="feature-header">Learning Resources</h2>
            </a>
          </li>
        </div>
        <div class="col-xs-12 col-sm-4">
          <li>
            <a routerLink="/about" routerLinkActive="active" class="feature-link">
              <img class="feature-img" src="./assets/img/stock/stock-wheat.jpg" alt="">
              <h2 class="feature-header">About Us</h2>
            </a>
          </li>
        </div>
      </div> <!-- inner row -->
    </div> <!-- outer col-sm-6 right-side -->
  </div> <!-- outer row -->
</ul>
