.hero {
  background: url("../../../assets/img/code-logo.jpg") no-repeat bottom center;
  color: #fff;
  background-size: 100%;
  text-align: center;
  height: 720px;
  padding-top: 200px;
  margin-top: -160px;
}

.welcome-header {
  font-size: 56px;
}

.welcome-subheader {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
    background-position: center center;
  }

  .welcome-header {
    font-size: 32px;
  }

  .welcome-subheader {
    font-size: 18px;
  }
}




.hero-headers {
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.35);
}

.dark-highlight {
  padding: 0 10px;
}

.feature-list {
  margin-top: 40px;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.feature-link {
  margin-top: 8px;
  font-size: 16px;
  color: #000;
}

.feature-link:hover {
  text-decoration: none;
}

.feature-header {
  margin-top:10px;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .feature-img {
    width: 210px;
    margin-top: 36px;
  }
}
