<h1 class="main-header">Code++ Projects</h1>
<div class="card project-wrapper">
  <h2 class="project-header">Magic Mirror</h2>

  <div class="img-wrapper">
    <img srcset= "./assets/img/magic-mirror-sm.jpg 600w,
                  ./assets/img/magic-mirror-md.jpg 1200w,
                  ./assets/img/magic-mirror-lg.jpg 2400w"
      src="./assets/img/magic-mirror-md.jpg" alt="Students meeting with eachother"
      class ="header-img">
  </div>
  <h3 class="contributor-header">Contributors</h3>
  <ul class="contributor-list">
    <li>Gonzalo Pantoja</li>
    <li>Akshay Patel</li>
    <li>Mohammad Khan</li>
  </ul>
  <p class="project-description card-text">This will be a magic digital mirror which displays the user's reflection with extra information built into the display.</p>
</div>
