.main-header {
  text-align: center;
}

.main-wrapper {
  width: 70%;
  padding: 52px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    width: 94%;
    padding: 10px;
    padding-bottom: 32px;
  }

  .main-header {
    font-size: 32px;
  }

  .header-img {
    width: 240px;
  }
}


.roster-list {
  text-align: center;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .roster-list {
    width: 90%;
  }
}

.roster-li-wrapper {
  /*margin-top: 40px;*/
  margin: 24px;
  padding: 16px 42px;
}

.roster-img {
  width: 400px;
  max-width: 98%;
  height: auto;
  margin: 0 auto 12px auto;
}

@media screen and (max-width: 900px) {
  .roster-li-wrapper {
    padding: 8px 20px;
  }

  .roster-header {
    font-size: 28px;
  }

  .roster-li-text {
    font-size: 18px;
  }
}

.img-wrapper {
  text-align: center;
}

.header-img {
  margin: 10 auto;
}

.linkedin-anchor {
  color: #000;
  text-decoration: none;
}
