.main-header {
  text-align: center;
}

.main-wrapper {
  width: 70%;
  padding: 52px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .main-wrapper {
    width: 94%;
    padding: 10px;
    padding-bottom: 32px;
  }

  .main-header {
    font-size: 32px;
  }

  .header-img {
    width: 240px;
  }
}


.roster-list {
  text-align: center;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  width: 40%;
}

@media screen and (max-width: 576px) {
  .roster-list {
    width: 90%;
  }
}

.roster-li {
  margin-top: 40px;
  padding: 20px;
}

.roster-img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .roster-img {
    width: 200px;
    height: 200px
  }

  .roster-header {
    font-size: 28px;
  }

  .roster-li-text {
    font-size: 18px;
  }
}

.img-wrapper {
  text-align: center;
}

.header-img {
  margin: 10 auto;
}
