<div class="main-wrapper">
  <h1 class="main-header">Code++ Roster</h1>
  <div class="img-wrapper">
    <img srcset= "./assets/img/meeting-sm.jpg 600w,
                  ./assets/img/meeting-md.jpg 1200w,
                  ./assets/img/meeting-lg.jpg 2400w"
      src="./assets/img/meeting-md.jpg" alt="Students meeting with eachother"
      class ="header-img">
  </div>
</div>

<ul class="roster-list">
  <li *ngFor='let listing of rosterList'>
    <!-- Profiles WITH linkedin -->
    <a href="https://www.linkedin.com/in/{{listing.linkedin}}" *ngIf="listing.linkedin" class="linkedin-anchor" target="_blank">
      <div class="roster-li-wrapper card">
        <h2 class="roster-header">{{listing.firstName}} {{listing.lastName}}</h2>
        <img src="{{listing.imgUrl}}" alt="{{listing.firstName}}'s pic" class="roster-img">
        <p class="roster-li-text">Position: {{listing.position}}</p>
        <p class="roster-li-text">{{listing.email}}</p>
      </div>
    </a>

    <!-- Profiles WITHOUT linkedin -->
    <div class="roster-li-wrapper card" *ngIf="!listing.linkedin">
      <h2 class="roster-header">{{listing.firstName}} {{listing.lastName}}</h2>
      <img src="{{listing.imgUrl}}" alt="{{listing.firstName}}'s pic" class="roster-img">
      <p class="roster-li-text">Position: {{listing.position}}</p>
      <p class="roster-li-text">{{listing.email}}</p>
    </div>
  </li> <!-- end ngFor li-->
</ul>
