<div class="card main-wrapper">
  <h1 class="main-header">Code++ Roster</h1>
  <div class="img-wrapper">
    <img srcset= "./assets/img/meeting-sm.jpg 600w,
                  ./assets/img/meeting-md.jpg 1200w,
                  ./assets/img/meeting-lg.jpg 2400w"
      src="./assets/img/meeting-md.jpg" alt="Students meeting with eachother"
      class ="header-img">
  </div>
</div>

<ul class="roster-list">
  <li *ngFor='let listing of rosterList' class="roster-li card">
    <h2 class="roster-header">{{listing.firstName}} {{listing.lastName}}</h2>
    <img src="{{listing.imgUrl}}" alt="{{listing.firstName}}'s pic" class="roster-img">
    <p class="roster-li-text">Position: {{listing.position}}</p>
    <p class="roster-li-text">{{listing.email}}</p>
  </li>
</ul>
