<div class="img-wrapper">
  <div class="img-wrapper">
    <img srcset= "./assets/img/events-sm.jpg 600w,
                  ./assets/img/events-lg.jpg 1200w"
      src="./assets/img/events-lg.jpg" alt="Events Banner"
      class ="header-img">
  </div>
</div>

<div class="card event-wrapper">
  <h2 class="event-header"><span class="font-weight-bold">480 Study Session</span></h2>
  <h3 class="event-header">Spring Semester Weekly - 1:00-3:00pm</h3>
  <h3 class="event-header">Google Hangouts</h3>
</div>

<div class="card event-wrapper">
  <h2 class="event-header"><span class="font-weight-bold">Club Photo Session</span></h2>
  <h3 class="event-header">November 8th, 2018 -- 4:00pm</h3>
  <h3 class="event-header">NIU Campus</h3>
</div>
