.img-wrapper {
  text-align: center;
  width: 90%;
  margin: 0 auto 72px auto;
}

.header-img {
  width: 100%;
}

.event-wrapper {
  width: 40%;
  padding: 24px;
  margin: 32px auto;
}

.event-header {
  text-align: center;
}


@media screen and (max-width: 576px) {
  .event-wrapper {
    width: 90%;
    padding: 10px;
  }

  h2.event-header {
    font-size: 26px;
  }

  h3.event-header {
    font-size: 18px;
  }
}
