<nav class="navbar fixed-top main-nav">
  <ul class="navbar-nav main-nav-list">
    <li class="nav-item home-nav">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        <i class="fa fa-home"></i>
      </a>
    </li>

    <span class="center-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/roster" routerLinkActive="active">Roster</a>
      </li>
      <span class="separator">•</span>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <span class="separator">•</span>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <span class="separator">•</span>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tutors" routerLinkActive="active">Tutoring</a>
      </li>
      <span class="separator">•</span>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resources" routerLinkActive="active">Resources</a>
      </li>
      <span class="separator">•</span>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
      </li>
    </span>

    <li class="nav-item niu-nav">
      <a href="https://www.niu.edu/index.shtml" target="_blank" class="nav-link">
        <img src="./assets/img/niu-logo-sm.png" alt="NIU's Homepage">
      </a>
    </li>

  </ul>
</nav>
